<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="db_qlthuoc" connectionString="Data Source=DELL-7567\MSSQLSERVER01;Initial Catalog=QuanLyKhoThuocTay;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="BTL_QuanLyBanThuoc.Properties.Settings.QuanLyKhoThuocTayConnectionString"
   connectionString="Data Source=DELL-7567\MSSQLSERVER01;Initial Catalog=QuanLyKhoThuocTay;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>